<div class='span-5 wishlist-sidebar-list'>
  <h2>Properties</h2>
  <ul>
    <% @properties.each do |property| %>
      <%= render partial: 'properties/property_name', locals: { property: property } %>
    <% end %>
    <li class='add'>
      <%= link_to "Add Property", '#' %>
    </li>
    <li class='new'>
      <%= form_for Property.new, url: properties_path, remote: true do |f| %>
        <%= f.text_field :address %>
        <%= f.text_field :zipcode %>

      <% end %>
    </li>
  </ul>
</div>
