<div class='new-property-content container'>
  <div class='push-5 span-14'>
        <h1>New Property</h1>
        <h5>Go ahead, create a new property </h5>



        <% if @prop.errors.any? %>
        <div class='error'>
          <ul>
            <% @prop.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= form_for @prop do |f| %>
        <div>
          <%=	 f.label :address %>
          <%=     f.text_field :address %>
        </div>

        <div>
          <%=	 f.label :zipcode %>
          <%=     f.text_field :zipcode %>
        </div>

        <%= f.submit ('Register Property') %>
    <% end %>
    </div>
</div>
